.contenedorAgregar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.438);
  width: 300px;
  height: 100px;
  margin-top: 20px;
  border-radius: 20px;
}

.contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
}
h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  padding-bottom: 20px;
}

button {
  padding: 10px;
}
body {
  background-color: rgb(38, 43, 66) !important;
}
